USE [master]
GO
/****** 对象:  Database [FOL]    脚本日期: 03/20/2014 16:48:07 ******/
CREATE DATABASE [FOL] ON  PRIMARY 
( NAME = N'FOL', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL.1\MSSQL\DATA\FOL.mdf' , SIZE = 2240KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'FOL_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL.1\MSSQL\DATA\FOL_log.LDF' , SIZE = 832KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
EXEC dbo.sp_dbcmptlevel @dbname=N'FOL', @new_cmptlevel=90
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FOL].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
ALTER DATABASE [FOL] SET DB_CHAINING OFF 

USE [FOL]
GO
/****** 对象:  Table [dbo].[DEPT]    脚本日期: 03/20/2014 16:47:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DEPT](
	[id] [int] NOT NULL,
	[name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_DEPT] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** 对象:  Table [dbo].[PRODUCT]    脚本日期: 03/20/2014 16:47:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUCT](
	[id] [int] NOT NULL,
	[name] [nvarchar](128) NOT NULL
) ON [PRIMARY]
GO
/****** 对象:  Table [dbo].[USERINFO]    脚本日期: 03/20/2014 16:47:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USERINFO](
	[USERNAME] [nvarchar](64) NOT NULL,
	[PASSWORD] [nvarchar](64) NOT NULL,
	[NO] [nvarchar](32) NOT NULL,
	[RULEID] [int] NOT NULL,
	[DEPTID] [int] NOT NULL,
 CONSTRAINT [PK_USERINFO] PRIMARY KEY CLUSTERED 
(
	[NO] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** 对象:  Table [dbo].[Claims]    脚本日期: 03/20/2014 16:47:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Claims](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[invoiceNo] [nvarchar](32) NOT NULL CONSTRAINT [DF_Claims_invoiceNo]  DEFAULT ((0)),
	[invoiceType] [int] NOT NULL CONSTRAINT [DF_Claims_invoiceType]  DEFAULT ((0)),
	[billNo] [nvarchar](32) NOT NULL CONSTRAINT [DF_Claims_billNo]  DEFAULT ((0)),
	[directToFinance] [bit] NULL CONSTRAINT [DF_Claims_directToFinance]  DEFAULT ((0)),
	[billLocation] [int] NULL,
	[productId] [int] NOT NULL,
	[hasBill] [bit] NOT NULL,
	[no] [nvarchar](32) NOT NULL,
	[status] [int] NULL CONSTRAINT [DF_Claims_status]  DEFAULT ((0)),
	[summary] [nvarchar](128) NULL,
	[accountAdjust] [int] NULL CONSTRAINT [DF_Claims_accountAdjust]  DEFAULT ((0)),
	[employeeLevel] [int] NOT NULL CONSTRAINT [DF_Claims_employeeLevel]  DEFAULT ((0)),
	[currencyType] [int] NULL CONSTRAINT [DF_Claims_currencyType]  DEFAULT ((0)),
	[hedgeAccount] [int] NULL CONSTRAINT [DF_Claims_hedgeAccount]  DEFAULT ((0)),
	[payType] [int] NOT NULL CONSTRAINT [DF_Claims_payType]  DEFAULT ((0)),
	[approvalId] [nvarchar](32) NULL,
	[totalFee] [int] NULL,
	[deptId] [int] NULL,
	[submitDate] [datetime] NULL,
	[approvalAmount] [int] NULL CONSTRAINT [DF_Claims_approvalAmount]  DEFAULT ((0)),
 CONSTRAINT [Index_Claims] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** 对象:  Table [dbo].[BANKACCOUNT]    脚本日期: 03/20/2014 16:47:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BANKACCOUNT](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[proviceId] [int] NOT NULL,
	[cityId] [int] NOT NULL,
	[bankId] [int] NOT NULL,
	[currencyId] [int] NOT NULL,
	[bankName] [nvarchar](128) NOT NULL,
	[no] [nvarchar](32) NOT NULL,
	[account] [nvarchar](50) NOT NULL,
	[accountName] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_BANKACCOUNT] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** 对象:  Table [dbo].[PROVINCE]    脚本日期: 03/20/2014 16:47:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PROVINCE](
	[id] [int] NOT NULL,
	[name] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_Location] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** 对象:  Table [dbo].[BANK]    脚本日期: 03/20/2014 16:47:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BANK](
	[id] [int] NOT NULL,
	[name] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_BANK] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** 对象:  Table [dbo].[CURRENCY]    脚本日期: 03/20/2014 16:47:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CURRENCY](
	[id] [int] NOT NULL,
	[name] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_CURRENCY] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** 对象:  Table [dbo].[CITY]    脚本日期: 03/20/2014 16:47:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CITY](
	[id] [int] NOT NULL,
	[provinceId] [int] NOT NULL,
	[name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_CITY] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** 对象:  Table [dbo].[ROLE]    脚本日期: 03/20/2014 16:47:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ROLE](
	[id] [int] NOT NULL,
	[roleId] [int] NOT NULL,
	[roleName] [nvarchar](64) NOT NULL,
 CONSTRAINT [PK_ROLE] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** 对象:  Table [dbo].[APPROVALINFO]    脚本日期: 03/20/2014 16:47:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[APPROVALINFO](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[invoiceNo] [nvarchar](32) NOT NULL,
	[status] [int] NOT NULL,
	[approvalId] [nvarchar](32) NOT NULL,
	[approvalName] [nvarchar](32) NULL,
	[comment] [nvarchar](200) NULL,
	[appState] [int] NULL,
	[appDate] [datetime] NULL,
 CONSTRAINT [PK_APPROVALINFO] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** 对象:  Table [dbo].[EmployeeType]    脚本日期: 03/20/2014 16:47:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmployeeType](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_EmployeeType] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** 对象:  Table [dbo].[ClaimItem]    脚本日期: 03/20/2014 16:47:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClaimItem](
	[startDate] [datetime] NOT NULL,
	[endDate] [datetime] NOT NULL,
	[startCity] [nvarchar](32) NOT NULL,
	[desProvince] [int] NOT NULL,
	[desCity] [nvarchar](32) NULL CONSTRAINT [DF_ClaimItem_desCity]  DEFAULT ((0)),
	[transportation] [int] NOT NULL,
	[transportCost] [int] NULL CONSTRAINT [DF_ClaimItem_transportCost]  DEFAULT ((0)),
	[accommodation] [int] NULL CONSTRAINT [DF_ClaimItem_accommodation]  DEFAULT ((0)),
	[otherCost] [int] NULL CONSTRAINT [DF_ClaimItem_otherCost]  DEFAULT ((0)),
	[InvoinceNO] [nvarchar](32) NOT NULL,
	[id] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_ClaimItem] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** 对象:  Table [dbo].[USERDETAIL]    脚本日期: 03/20/2014 16:47:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USERDETAIL](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NO] [nvarchar](32) NOT NULL,
	[ALLNO] [nvarchar](32) NOT NULL,
	[DEPTID] [int] NOT NULL,
	[EMAIL] [nvarchar](50) NULL,
	[TEL] [nvarchar](32) NULL,
	[PRODUCTID] [int] NULL,
	[TECHTITLEID] [int] NULL,
 CONSTRAINT [PK_NO] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** 对象:  ForeignKey [FK_USERINFO_NO]    脚本日期: 03/20/2014 16:47:48 ******/
ALTER TABLE [dbo].[USERDETAIL]  WITH CHECK ADD  CONSTRAINT [FK_USERINFO_NO] FOREIGN KEY([NO])
REFERENCES [dbo].[USERINFO] ([NO])
GO
ALTER TABLE [dbo].[USERDETAIL] CHECK CONSTRAINT [FK_USERINFO_NO]
GO
