#pagerDiv{
  border : #d2e1fd 1px solid;
  background-color : #e8e8e8;
  display : block;
  height : 26px;
  margin: 1px 0px; 
  padding-left: 3px;
  padding-right: 3px; 
  vertical-align : middle;
  padding-top: 0px;
  font-family: "Verdana" , "Arial" , "Helvetica" , "sans-serif" , "ו" ,simsun;
  font-size: 12px
}

#tablePagination {
	float : right;
	margin-right : 5%;
	vertical-align : middle;
	height : 20px;
}

#tablePagination_perPage {
	margin-left : 5px; 
	margin-right : 10px;
}

#currPageId {
  border : #96adc3 1px solid;
  width: 30px;
  padding-right: 1px;
  font : bold 12px Arial; 
  background : none transparent scroll repeat 0% 0%;
  height: 21px;
  color: #285a74;
  cursor: hand;
  padding-top : 2px;
  margin-left : 3px;
  margin-right : 3px;
}

#tablePagination_currPage {
	height : 21px;
	width : 30px;
	margin-left : 3px;
}

#tablePagination_rowsPerPage {
	text-align : left;
	img-mode : disabled;
	width : 50px
}