HTML {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif"; BACKGROUND: white; FONT-SIZE: 12px; PADDING-TOP: 0px
}
A {
	COLOR: #03319a; TEXT-DECORATION: none
}
A:hover {
	COLOR: blue
}
BODY {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif"; BACKGROUND: white; COLOR: #111111; FONT-SIZE: 12px; PADDING-TOP: 0px
}
H2 {
	MARGIN-TOP: 5px; MARGIN-BOTTOM: 3px; COLOR: white; FONT-SIZE: 15px; FONT-WEIGHT: bold
}
H4 {
	MARGIN-TOP: 12px; MARGIN-BOTTOM: 3px; COLOR: blue; FONT-SIZE: 14px; FONT-WEIGHT: bold
}
H6 {
	BORDER-BOTTOM: #00ccff 1px; TEXT-ALIGN: left; BORDER-LEFT: #00ccff 1px; TEXT-INDENT: 1.8em; MARGIN: 6px auto 2px 0px; BACKGROUND: url(../images/secdot_on.gif) no-repeat 2px 50%; LETTER-SPACING: 1px; COLOR: #03319a; FONT-SIZE: 12px; BORDER-TOP: #00ccff 1px; FONT-WEIGHT: normal; BORDER-RIGHT: #00ccff 1px
}
H5 {
	BORDER-BOTTOM: #d2e1fd 1px solid; TEXT-ALIGN: left; BORDER-RIGHT-WIDTH: 1px; BORDER-TOP-COLOR: #d2e1fd; TEXT-INDENT: 1.8em; MARGIN: 6px auto 2px; BACKGROUND: url(images/bullet8.gif) no-repeat 2px 50%; BORDER-TOP-WIDTH: 1px; LETTER-SPACING: 1px; COLOR: #64330f; BORDER-RIGHT-COLOR: #d2e1fd; FONT-SIZE: 13px; BORDER-LEFT-COLOR: #d2e1fd; BORDER-LEFT-WIDTH: 1px; FONT-WEIGHT: bold
}
HR {
	HEIGHT: 1px
}
INPUT {
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif", "宋体", simsun; FONT-SIZE: 12px
}
SELECT {
	Z-INDEX: 1; BORDER-BOTTOM: #9d9d9d 1px solid; BORDER-LEFT: #9d9d9d 1px solid; LINE-HEIGHT: 140%; FONT-FAMILY: "Arial", "Verdana", "Helvetica", "sans-serif"; BACKGROUND: #efefef; HEIGHT: 10px; COLOR: #000000; FONT-SIZE: 12px; OVERFLOW: auto; BORDER-TOP: #9d9d9d 1px solid; BORDER-RIGHT: #9d9d9d 1px solid
}
TD {
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif", "宋体", simsun; FONT-SIZE: 12px
}
TH {
	FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif", "宋体", simsun; FONT-SIZE: 12px
}
INPUT.button {
	BORDER-BOTTOM: #6f7777 1px solid; BORDER-LEFT: #acb5b5 1px solid; PADDING-BOTTOM: 1px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; FONT-FAMILY: "宋体", "Verdana", "Arial", "Helvetica", "sans-serif"; BACKGROUND: url(images/background_form_element.gif) #fefefe repeat-x; HEIGHT: 20px; COLOR: #222222; MARGIN-LEFT: 3px; BORDER-TOP: #c4cccc 1px solid; CURSOR: pointer; BORDER-RIGHT: #acb5b5 1px solid; PADDING-TOP: 2px
}
LI {
	LIST-STYLE-POSITION: outside; MARGIN: auto 2px 5px -10px; VERTICAL-ALIGN: text-top; LIST-STYLE-IMAGE: url(images/bullet8.gif)
}
OPTION.even {
	BACKGROUND-COLOR: #e4edfc
}
OPTION {
	FONT-FAMILY: "Arial", "Verdana", "Helvetica", "sans-serif"; COLOR: #222222; FONT-SIZE: 12px
}
TR.even {
	BACKGROUND-COLOR: #f7f9fe
}
TR.even TD {
	BACKGROUND-COLOR: #f7f9fe
}
.even TEXTAREA {
	BACKGROUND-COLOR: #f7f9fe
}
.arrow {
	FONT-FAMILY: Webdings !important
}
.arrow A {
	FONT-FAMILY: Webdings !important
}
.tb_prompt1 {
	BORDER-BOTTOM: #b4c9f1 1px solid; POSITION: relative; TEXT-ALIGN: center; BORDER-LEFT: #b4c9f1 1px solid; WIDTH: 350px; BACKGROUND: #eaf0fb; BORDER-TOP: #b4c9f1 1px solid; TOP: 40%; BORDER-RIGHT: #b4c9f1 1px solid
}
.tb_prompt1 .tr_Ptitle TD {
	TEXT-ALIGN: left; BORDER-LEFT: white 1px solid; BACKGROUND: #d2e1fd; BORDER-TOP: white 1px solid
}
.tb_prompt1 .tr_Ptitle {
	TEXT-ALIGN: left; BORDER-LEFT: white 1px solid; PADDING-BOTTOM: 4px; TEXT-INDENT: 4px; PADDING-LEFT: 4px; PADDING-RIGHT: 4px; BACKGROUND: #d2e1fd; BORDER-TOP: white 1px solid; PADDING-TOP: 4px
}
.tb_comment {
	TEXT-ALIGN: left; LINE-HEIGHT: 120%; MARGIN-TOP: 5px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; MARGIN-BOTTOM: 5px; LETTER-SPACING: 2px; PADDING-TOP: 5px
}
.error {
	COLOR: red
}
.icon {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; MARGIN-BOTTOM: -2px; MARGIN-LEFT: 1px; BORDER-TOP: 0px; MARGIN-RIGHT: 2px; BORDER-RIGHT: 0px
}
.iconbtn {
	PADDING-BOTTOM: 1px; PADDING-LEFT: 1px; PADDING-RIGHT: 1px; PADDING-TOP: 1px
}
.iconbtn IMG {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; BORDER-TOP: 0px; BORDER-RIGHT: 0px
}
.iconbtn:hover {
	POSITION: relative; TOP: 1px; LEFT: 1px
}
.tb_titlebar {
	BORDER-BOTTOM: buttonshadow 1px solid; BORDER-LEFT: buttonshadow 1px solid; PADDING-BOTTOM: 2px; MARGIN-TOP: 3px; PADDING-LEFT: 2px; WIDTH: 100%; PADDING-RIGHT: 2px; WHITE-SPACE: nowrap; BORDER-TOP: buttonshadow 1px solid; BORDER-RIGHT: buttonshadow 1px solid; PADDING-TOP: 2px
}
.tb_titlebar2 {
	TEXT-ALIGN: center; BORDER-LEFT: #c0d2f3 1px solid; PADDING-BOTTOM: 2px; MARGIN-TOP: 3px; PADDING-LEFT: 2px; WIDTH: 100%; PADDING-RIGHT: 2px; WHITE-SPACE: nowrap; BACKGROUND: #f7f9fe; FONT-SIZE: 14px; BORDER-TOP: #c0d2f3 1px solid; FONT-WEIGHT: bold; BORDER-RIGHT: #c0d2f3 1px solid; PADDING-TOP: 4px
}
.tb_titlebar2 TD {
	FONT-SIZE: 14px
}
.tb_titlebar1 {
	BORDER-BOTTOM: #eeeeee 1px solid; BORDER-LEFT: #eeeeee 1px solid; PADDING-BOTTOM: 2px; MARGIN-TOP: 3px; PADDING-LEFT: 2px; WIDTH: 100%; PADDING-RIGHT: 2px; WHITE-SPACE: nowrap; BORDER-TOP: #eeeeee 1px solid; BORDER-RIGHT: #eeeeee 1px solid; PADDING-TOP: 2px
}
.div_subtitle {
	BACKGROUND-IMAGE: url(images/bullet6.gif); MARGIN-TOP: 5px; TEXT-INDENT: 16px; BACKGROUND-REPEAT: no-repeat; VERTICAL-ALIGN: bottom
}
.tb_toptab1 {
	BORDER-BOTTOM: 2px ridge; FONT-WEIGHT: bold; PADDING-TOP: 4px
}
#tb_toptab {
	BACKGROUND-IMAGE: url(images/bk_nav.gif); WIDTH: 100%
}
#tb_toptab .active {
	BORDER-BOTTOM: medium none; BACKGROUND: #e1e1e1
}
#tb_toptab .active A {
	COLOR: blue; CURSOR: default
}
#tb_toptab .active A:hover {
	COLOR: blue; CURSOR: default
}
#tb_toptab .tab {
	
}
#tb_toptab A {
	POSITION: relative; TEXT-ALIGN: center; DISPLAY: block; COLOR: white; TEXT-DECORATION: none
}
#tb_toptab A:hover {
	COLOR: #ffd700
}
#tb_toptab TD {
	BORDER-BOTTOM: 2px ridge; FONT-WEIGHT: bold; PADDING-TOP: 4px
}
.tb_searchbar {
	WIDTH: 100%; BACKGROUND: #c6d5f5
}
.tb_searchbar .select {
	TEXT-ALIGN: left; MARGIN-TOP: 19px !important
}
.tb_searchbar TD {
	PADDING-BOTTOM: 2px; PADDING-LEFT: 2px; PADDING-RIGHT: 2px; BACKGROUND: #ffffff; PADDING-TOP: 2px
}
.tb_searchbar TH {
	BORDER-LEFT: white 1px solid; BACKGROUND: #b9d0fe; BORDER-TOP: white 1px solid
}
.tb_searchbar .td_head TD {
	TEXT-ALIGN: left; BORDER-LEFT: white 1px solid; BORDER-TOP: white 1px solid
}
.tb_searchbar .td_head {
	TEXT-ALIGN: left; BORDER-LEFT: white 1px solid; BORDER-TOP: white 1px solid
}
.tb_searchbar .td_title TD {
	BORDER-LEFT: white 1px solid; BACKGROUND: #eaf0fb; BORDER-TOP: white 1px solid
}
.tb_searchbar .td_title {
	BORDER-LEFT: white 1px solid; BACKGROUND: #eaf0fb; BORDER-TOP: white 1px solid
}
.tb_searchbar .td_detail TD {
	
}
.tb_searchbar .td_detail {
	
}
.tb_searchbar .td_tail TD {
	TEXT-ALIGN: right; BORDER-LEFT: white 1px solid; BORDER-TOP: white 1px solid
}
.tb_searchbar .td_tail {
	TEXT-ALIGN: right; BORDER-LEFT: white 1px solid; BORDER-TOP: white 1px solid
}
.tb_datalist {
	BORDER-BOTTOM: silver 1px solid; BORDER-LEFT: silver 1px solid; WIDTH: 100%; BACKGROUND: #c6d5f5; BORDER-RIGHT: silver 1px solid
}
.tb_datalist .select {
	TEXT-ALIGN: left; MARGIN-TOP: 19px !important
}
.tb_datalist TD {
	PADDING-BOTTOM: 1px; PADDING-LEFT: 4px; PADDING-RIGHT: 1px; BACKGROUND: white; PADDING-TOP: 3px
}
.tb_datalist TH {
	BORDER-LEFT: white 1px solid; BACKGROUND: #b9d0fe; BORDER-TOP: white 1px solid
}
.tb_datalist .tr_head TD {
	BORDER-LEFT: white 1px solid; BACKGROUND: #eaf0fb; HEIGHT: 25px; BORDER-TOP: white 1px solid
}
.tb_datalist .tr_head {
	BORDER-LEFT: white 1px solid; BACKGROUND: #eaf0fb; HEIGHT: 25px; BORDER-TOP: white 1px solid
}
.tb_datalist .tr_title TD {
	BORDER-LEFT: white 1px solid; BACKGROUND: #d2e1fd; BORDER-TOP: white 1px solid
}
.tb_datalist .tr_title {
	BORDER-LEFT: white 1px solid; BACKGROUND: #d2e1fd; BORDER-TOP: white 1px solid
}
.tb_datalist .tr_detail TD {
	BORDER-LEFT: white 1px solid; BACKGROUND: #d2e1fd; BORDER-TOP: white 1px solid
}
.tb_datalist .tr_detail {
	BORDER-LEFT: white 1px solid; BACKGROUND: #d2e1fd; BORDER-TOP: white 1px solid
}
.tb_datalist .tr_pagenumber {
	TEXT-ALIGN: right; BORDER-LEFT: silver 1px solid; WIDTH: 100%; BACKGROUND: #e8e8e8 no-repeat 50% bottom; FLOAT: right; COLOR: #5e5e5e; VERTICAL-ALIGN: bottom; BORDER-TOP: silver 1px solid; BORDER-RIGHT: buttonshadow 1px solid
}
.tb_datalist .tr_pagenumber TD {
	BORDER-LEFT: white 1px solid; BACKGROUND: #e8e8e8; BORDER-TOP: white 1px solid; BORDER-RIGHT: white 1px solid
}
.tb_datalist .tr_odd {
	
}
.tb_datalist .tr_odd TD {
	
}
.tb_datalist .tr_even {
	BACKGROUND-COLOR: #f7f9fe
}
.tb_datalist .tr_even TD {
	BACKGROUND-COLOR: #f7f9fe
}
.tb_datalist .tr_selected {
	BACKGROUND-COLOR: #ffffd0
}
.tb_datalist .tr_selected TD {
	BACKGROUND-COLOR: #ffffd0
}
tr_selected {
	
}
.tb_datalist .tr_tail {
	TEXT-ALIGN: right; BORDER-LEFT: white 1px solid; BORDER-TOP: white 1px solid
}
.tb_datalist .tr_tail TD {
	TEXT-ALIGN: right; BORDER-LEFT: white 1px solid; BORDER-TOP: white 1px solid
}
.tb_input {
	WIDTH: 100%; MARGIN-BOTTOM: 5px; BACKGROUND: #c6d5f5
}
.tb_input .even TEXTAREA {
	BACKGROUND-COLOR: #f7f9fe
}
.tb_input TD.even {
	BACKGROUND-COLOR: #f7f9fe
}
.tb_input TR.even TD {
	BACKGROUND-COLOR: #f7f9fe
}
.tb_input TD {
	PADDING-BOTTOM: 1px; PADDING-LEFT: 4px; PADDING-RIGHT: 1px; BACKGROUND: white; PADDING-TOP: 3px
}
.tb_input TH {
	BACKGROUND: #eaf0fb; FONT-WEIGHT: bold
}
.tb_input .td_head TD {
	TEXT-ALIGN: left; BORDER-LEFT: white 1px solid; BORDER-TOP: white 1px solid
}
.tb_input .td_head {
	TEXT-ALIGN: left; BORDER-LEFT: white 1px solid; BORDER-TOP: white 1px solid
}
.tb_input .td_title TD {
	BACKGROUND: #eaf0fb
}
.tb_input .td_title {
	BACKGROUND: #eaf0fb
}
.tb_input .td_detail TD {
	
}
.tb_input .td_detail {
	
}
.tb_input .td_tail TD {
	TEXT-ALIGN: right; BORDER-LEFT: white 1px solid; BORDER-TOP: white 1px solid
}
.tb_input .td_tail {
	TEXT-ALIGN: right; BORDER-LEFT: white 1px solid; BORDER-TOP: white 1px solid
}
.dotline {
	LINE-HEIGHT: 1px; MARGIN: 4px auto; BACKGROUND: url(images/1dot.gif) repeat-x
}
.vline {
	BACKGROUND-IMAGE: url(images/vline.gif); BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: center 50%
}
.vline1 {
	BACKGROUND-IMAGE: url(images/vline1.gif); BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: center 50%
}
.vline2 {
	BACKGROUND-IMAGE: url(../images/vline2.gif); BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: center 50%
}
#tb_content {
	PADDING-LEFT: 5px; WIDTH: 100%; PADDING-RIGHT: 5px; MARGIN-BOTTOM: 5px
}
#tb_topcontent {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; WIDTH: 100%; HEIGHT: 100%; BORDER-TOP: 0px; BORDER-RIGHT: 0px
}
#header {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; WIDTH: 100%; BACKGROUND: #3366cc; HEIGHT: 64px; VISIBILITY: visible; BORDER-TOP: 0px; BORDER-RIGHT: 0px
}
#tb_iconbar {
	WIDTH: 100%; BACKGROUND: #eeeeee; HEIGHT: 22px; FONT-SIZE: 12px
}
#tb_iconbar A {
	BORDER-BOTTOM: #eeeeee 1px solid; BORDER-LEFT: #eeeeee 1px solid; PADDING-BOTTOM: 1px; MARGIN: 1px 2px; PADDING-LEFT: 4px; PADDING-RIGHT: 4px; COLOR: #00008b; BORDER-TOP: #eeeeee 1px solid; BORDER-RIGHT: #eeeeee 1px solid; TEXT-DECORATION: none; PADDING-TOP: 1px
}
#tb_iconbar A:hover {
	BORDER-BOTTOM: gray 1px solid; BORDER-LEFT: white 1px solid; COLOR: blue; BORDER-TOP: white 1px solid; BORDER-RIGHT: gray 1px solid
}
#tb_iconbar .button {
	PADDING-BOTTOM: 1px; MARGIN: 0px 1px; PADDING-LEFT: 1px; PADDING-RIGHT: 1px; PADDING-TOP: 1px
}
#tb_topuser {
	 POSITION: relative; TEXT-ALIGN: right; WIDTH: 170px; BACKGROUND: url(tab_bg.gif) repeat-x; FLOAT: right; COLOR: #a4a4ff; /*MARGIN-LEFT: auto;*/ TOP:-43px; RIGHT: 5px; MARGIN-RIGHT: 0px
}
#tb_topuser A {
	COLOR: #c0def8
}
#tb_topuser A:hover {
	COLOR: yellow
}

#DivTopMenu
{
		 POSITION: absolute; TEXT-ALIGN: right; FLOAT: left; COLOR: #a4a4ff; /*MARGIN-LEFT: auto;*/ TOP:43px; RIGHT: 5px; MARGIN-RIGHT: 0px
}
	
#version1 {
	Z-INDEX: 20; POSITION: absolute; FONT-STYLE: italic; COLOR: #c0def8; TOP: 10px; FONT-WEIGHT: bold
}
TD.left-nav {
	PADDING-BOTTOM: 1px; PADDING-LEFT: 1px; PADDING-RIGHT: 2px; PADDING-TOP: 5px
}
A.left-nav {
	COLOR: #000000; TEXT-DECORATION: none
}
A.left-nav:link {
	COLOR: #222222; TEXT-DECORATION: none
}
A.left-nav:visited {
	COLOR: #222222; TEXT-DECORATION: none
}
A.left-nav:hover {
	COLOR: #555555; TEXT-DECORATION: underline
}
TR.rlinks TD {
	VERTICAL-ALIGN: top
}
A.rlinks {
	COLOR: #666
}
A.rlinks:link {
	COLOR: #666; TEXT-DECORATION: none
}
A.rlinks:visited {
	COLOR: #666; TEXT-DECORATION: none
}
A.rlinks:hover {
	COLOR: #666; TEXT-DECORATION: underline
}
.pagenumber_input {
	BORDER-BOTTOM: buttonshadow 1px solid; BORDER-LEFT: buttonshadow 1px solid; HEIGHT: 16px; COLOR: #666; BORDER-TOP: buttonshadow 1px solid; BORDER-RIGHT: buttonshadow 1px solid
}
.arrow_subtitle {
	PADDING-LEFT: 5px; PADDING-RIGHT: 5px; FONT-FAMILY: "宋体", "Arial", "Helvetica", "sans-serif"; FONT-SIZE: 12px; VERTICAL-ALIGN: text-top
}
.pro_tab1 {
	BORDER-BOTTOM: #c0d2f3 1px solid; POSITION: relative; TEXT-ALIGN: center; BORDER-LEFT: #c0d2f3 1px solid; BACKGROUND-COLOR: #eaf0fb; MARGIN-TOP: 20px; WIDTH: 320px; HEIGHT: 180px; BORDER-TOP: #c0d2f3 1px solid; BORDER-RIGHT: #c0d2f3 1px solid
}
.home_tab11 {
	MARGIN-TOP: 4px; WIDTH: 98%
}
.home_tab11 TD {
	BORDER-BOTTOM: #c0d2f3 1px solid; BORDER-LEFT: #c0d2f3 1px solid; PADDING-BOTTOM: 3px; BACKGROUND-COLOR: #f0f2f6; PADDING-LEFT: 3px; PADDING-RIGHT: 3px; HEIGHT: 20px; BORDER-TOP: #c0d2f3 1px solid; BORDER-RIGHT: #c0d2f3 1px solid; PADDING-TOP: 3px
}
.home_tab1 {
	BORDER-BOTTOM: silver 1px solid; BORDER-LEFT: silver 1px solid; WIDTH: 100%; BACKGROUND: #c6d5f5; BORDER-RIGHT: silver 1px solid
}
.home_tab1 TD {
	PADDING-BOTTOM: 1px; PADDING-LEFT: 4px; PADDING-RIGHT: 1px; BACKGROUND: white; PADDING-TOP: 3px
}
.home_tab1 .td_top {
	BACKGROUND-COLOR: #c0d2f3; HEIGHT: 23px
}
.pro_tab1 {
	BORDER-BOTTOM: #c0d2f3 1px solid; POSITION: relative; TEXT-ALIGN: center; BORDER-LEFT: #c0d2f3 1px solid; BACKGROUND-COLOR: #eaf0fb; MARGIN-TOP: 0px; WIDTH: 320px; HEIGHT: 180px; BORDER-TOP: #c0d2f3 1px solid; BORDER-RIGHT: #c0d2f3 1px solid
}
.tr_xu {
	BORDER-BOTTOM-COLOR: #00ccff; BORDER-TOP-COLOR: #00ccff; BORDER-TOP-WIDTH: 1px; BORDER-BOTTOM-WIDTH: 1px; BORDER-LEFT-COLOR: #00ccff; BORDER-LEFT-WIDTH: 1px; BORDER-RIGHT: #00ccff 1px dashed
}
.tb_home2 {
	BORDER-BOTTOM: #daf1fe; BORDER-LEFT: #daf1fe; BACKGROUND-COLOR: #c3defb; PADDING-LEFT: 6px; VERTICAL-ALIGN: top; BORDER-TOP: #daf1fe; BORDER-RIGHT: #daf1fe
}
.tb_home2 TD {
	TEXT-ALIGN: left; PADDING-BOTTOM: 2px; BACKGROUND-COLOR: #ffffff; MARGIN-TOP: 5px; PADDING-LEFT: 2px; PADDING-RIGHT: 2px; MARGIN-LEFT: 10px; VERTICAL-ALIGN: top; PADDING-TOP: 2px
}
.tb_home22 {
	BACKGROUND-IMAGE: url(../images/home/map02.jpg); TEXT-ALIGN: center; BACKGROUND-COLOR: #ffffff; BACKGROUND-REPEAT: no-repeat; FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif"; BACKGROUND-POSITION: center 50%; HEIGHT: 30px; COLOR: #0366cb; FONT-SIZE: 14px; VERTICAL-ALIGN: middle; FONT-WEIGHT: bold
}
.t_fond2 {
	MARGIN: 5px 15px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; COLOR: #999999
}
.tb_home1 {
	PADDING-LEFT: 6px; WIDTH: 100%; VERTICAL-ALIGN: top
}
.tb_home1 TD {
	TEXT-ALIGN: center; PADDING-BOTTOM: 2px; BACKGROUND-COLOR: #ffffff; MARGIN-TOP: 5px; PADDING-LEFT: 2px; PADDING-RIGHT: 2px; MARGIN-LEFT: 10px; VERTICAL-ALIGN: top; PADDING-TOP: 2px
}
.tb_home1 TD.x1 {
	BORDER-BOTTOM-COLOR: #cccccc; BACKGROUND-COLOR: #f7f9fe; BORDER-TOP-COLOR: #cccccc; BORDER-TOP-WIDTH: 1px; BORDER-BOTTOM-WIDTH: 1px; BORDER-LEFT-COLOR: #cccccc; BORDER-LEFT-WIDTH: 1px; BORDER-RIGHT: #cccccc 1px dashed
}
.tb_home1 TD.x1 TD {
	BORDER-BOTTOM: #cccccc 2px; TEXT-ALIGN: left; BORDER-LEFT: #cccccc 2px; BACKGROUND-COLOR: #f7f9fe; MARGIN: 5px 4px 2px 8px; COLOR: #999999; BORDER-TOP: #cccccc 2px; BORDER-RIGHT: #cccccc 2px
}
.tb_home1 TD.x2 {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; BACKGROUND-COLOR: #f7f9fe; BORDER-TOP: medium none; BORDER-RIGHT: medium none
}
.tb_home1 TD.x2 TD {
	TEXT-ALIGN: left; BACKGROUND-COLOR: #f7f9fe; MARGIN: 5px 4px 2px 8px; COLOR: #999999
}
.fond_b {
	COLOR: #000000
}
